{% extends 'LfepCoreBundle::layout.html.twig' %}

{% block header '' %}

{% block content %}
    <div class="col-md-4 centered">
        {{ form_start(form, {form_class: "well"}) }}
            <fieldset>
                <legend>
                    {{ 'form.register.legend'|trans }}
                </legend>

                {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}

                {{ form_row(form.submit, {btn_class: 'btn btn-success btn-block'}) }}
            </fieldset>
        {{ form_end(form) }}
        <hr />
        <a href="{{ path('login') }}" class="btn btn-primary btn-block">
            {{ 'form.register.link.login'|trans }}
        </a>
    </div>
{% endblock %}